.start_and_mining {
  background: linear-gradient(180deg, transparent 79.17%, #000),
    linear-gradient(135.02deg, #272f48, #000 100.06%) ;
  background-blend-mode: multiply, normal, normal;
  padding-top: 100px;
  color: var(--white);
  font-family: Montserrat-Regular, sans-serif;
  position: relative;
}
.start_and_mining:after {
  background: linear-gradient(0deg,#151515 20%,hsla(0,0%,8%,0));
  bottom: 0;
  content: "";
  height: 40px;
  left: 0;
  mix-blend-mode: multiply;
  opacity: .9;
  position: absolute;
  width: 100%;
  z-index: 102!important;
}
.start_parent {
  background: transparent;
}
.start_title {
  font-size: 30px;
  font-family: Montserrat-Bold, sans-serif;
  color: var(--white);
  background: transparent;
  text-transform: uppercase;
}
.boxs_parent {
  background: transparent;
}
.start_boxs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 40px;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(180deg,rgba(57,57,57,.5),transparent);
  border-radius: 10px;
  padding: 40px;
}
.start_box {
  padding: 20px 40px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) -1.52%,
    hsla(0, 0%, 100%, 0.024) 104.35%
  );
  border-radius: 20px;
}

.start_box_image {
  height: 50px;
  width: 50px;
  border-radius: 12px;
}

.start_box_title {
  margin-top: 16px;
  font-family: Montserrat-Bold, sans-serif;
  text-transform: uppercase;
  background: transparent;
color: var(--white);
}

.start_box_description {
  margin-top: 16px;
  font-family: Montserrat-Regular, sans-serif;
  background: transparent;
  color: var(--white);
  line-height: 28px;
}

@media screen and (max-width: 567px) {
  .boxs_parent {
    padding: 20px;
  }
  .start_boxs {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  .boxs_parent {
    padding: 20px;
  }
  .start_boxs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
