.mining_parent {
  background: transparent;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.mining_items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 80px 20px;
}

.mining_item_card {
  padding: 20px 20px;
  gap: 20px;
  cursor: pointer;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) -1.52%,
    hsla(0, 0%, 100%, 0.024) 104.35%
  );
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.item_card_image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: contain;
}
.item_card_image:hover {
  object-fit: cover;
}
.item_card_name {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}
.item_card_volume {
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) -1.52%,
    hsla(0, 0%, 100%, 0.024) 104.35%
  );
  border-radius: 10px;
  padding: 8px;
  font-family: Montserrat-Bold, sans-serif;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume_value {
  margin-left: 10px;
  font-size: 22px;
}

.item_card_sold {
  text-align: left;
  margin-top: 8px;
  font-family: Montserrat-Regular, sans-serif;
}

.item_card_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.item_right_heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.term_title {
  text-align: left;
  color: var(--text_gray);
  font-family: Montserrat-Medium, sans-serif;
  font-size: 18px;
}
.term_content {
  text-align: left;
  color: var(--white);
  font-family: Montserrat-Bold, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
}

@media screen and (max-width: 992px) {
  .mining_items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .invest_card {
    padding: 20px;
  }
}

/*! mining detail */
.mining_detail {
  /*background: linear-gradient(180deg, transparent 79.17%, #000),*/
  /*  linear-gradient(135.02deg, #272f48, #000 100.06%);*/
  background: var(--black);
  background-blend-mode: multiply, normal, normal;
  padding: 100px 80px;
  color: var(--white);
  font-family: Montserrat-Regular, sans-serif;
}
.mining_detail_card {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(180deg, rgba(77, 77, 77, 0.8), rgba(0, 0, 0, 0.416));
  background-blend-mode: multiply, normal;
  border-radius: 20px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  display: flex;
  justify-content: flex-start;

  padding: 80px;
  row-gap: 120px;
}

.detail_card_right_name {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 40px;
}

.detail_card_right .item_right_heading,
.detail_card_right .item_right_body,
.detail_card_right .item_right_footer {
  margin-top: 16px;
}

.line {
  height: 2px;
  width: 100%;
  background: linear-gradient(180deg, rgba(77, 77, 77, 0.8), rgba(0, 0, 0, 0.416));
}

.product_detail {
  font-size: 18px;
  font-family: Montserrat-Regular, sans-serif;
  margin-top: 20px;
}
.product_detail a {
  color: var(--ligt_blue);
}

.mining_invest {
  background: var(--black);
  color: var(--white);
  position: relative;
  padding-bottom: 100px;
}


.invest_content {
  margin-top: 80px;
  padding-bottom: 80px;
  max-width: 1414px;
}
.invest_content p {
  font-family: Montserrat-Regular, sans-serif;
}
.mt-2 {
  margin-top: 2rem !important;
}


