.mining_parent {
  background: transparent;
  padding-top: 100px;
  text-align: center;
}

.mining_items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 80px;
}

.mining_item_card {
  padding: 20px 40px;
  cursor: pointer;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.1) -1.52%,
    hsla(0, 0%, 100%, 0.024) 104.35%
  );
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.item_card_image {
  max-width: 100%;
  height: auto;
}
