@import './fonts.css';
@import './variables.css';
@import './start/start.css';
@import './mining/mining.css';
@import './choice/choice.css';
@import './payment/payment.css';
@import './dashboard/dashboard.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /*background-color: var(--main);*/
}
